In [3]:
api_key = 'a5d04411cecb64b2e73e2bc896da553e'

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import sqlite3 as sq
import numpy as np
from sqlalchemy import create_engine
from pprint import pprint
import csv, sqlite3

# Import API key
#from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [5]:
capitals = pd.read_csv('data/capitalscsv.csv')
capitals.head()

       Capital        State
0   Montgomery      Alabama
1       Juneau       Alaska
2      Phoenix      Arizona
3  Little Rock     Arkansas
4   Sacramento   California

In [6]:
capitals['Capital']

0         Montgomery
1             Juneau
2            Phoenix
3        Little Rock
4         Sacramento
5             Denver
6           Hartford
7              Dover
8        Tallahassee
9            Atlanta
10          Honolulu
11             Boise
12       Springfield
13      Indianapolis
14        Des Moines
15            Topeka
16         Frankfort
17       Baton Rouge
18           Augusta
19         Annapolis
20            Boston
21           Lansing
22        Saint Paul
23           Jackson
24    Jefferson City
25            Helena
26           Lincoln
27       Carson City
28           Concord
29           Trenton
30          Santa Fe
31            Albany
32           Raleigh
33          Bismarck
34          Columbus
35     Oklahoma City
36             Salem
37        Harrisburg
38        Providence
39          Columbia
40            Pierre
41         Nashville
42            Austin
43    Salt Lake City
44        Montpelier
45          Richmond
46           Olympia
47        Charleston
48           Madison
49          Cheyenne
Name: Capital, dtype: object

In [7]:
#url
url = "http://api.openweathermap.org/data/2.5/weather?"

query_url = f"{url}appid={api_key}&units=imperial&q="

In [8]:
#run a test to see data and [u]
test3 = requests.get(query_url + 'New York').json()
test3
#gotta dig into dic
#response['name']
#response['clouds']['all']
#response['sys']['country']
#response['dt']
#response['main']['temp']
#response['coord']['lon']
#response['coord']['lat']
#response['main']['temp_max']
#response['wind']['speed']

{'coord': {'lon': -73.99, 'lat': 40.73},
 'weather': [{'id': 802,
   'main': 'Clouds',
   'description': 'scattered clouds',
   'icon': '03n'}],
 'base': 'stations',
 'main': {'temp': 81.73,
  'pressure': 1020,
  'humidity': 39,
  'temp_min': 77,
  'temp_max': 84.99},
 'visibility': 16093,
 'wind': {'speed': 4.7, 'deg': 200},
 'clouds': {'all': 40},
 'dt': 1561768280,
 'sys': {'type': 1,
  'id': 4686,
  'message': 0.0115,
  'country': 'US',
  'sunrise': 1561714015,
  'sunset': 1561768273},
 'timezone': -14400,
 'id': 5128581,
 'name': 'New York',
 'cod': 200}

In [9]:
capital_df = pd.DataFrame({'City' : capitals['Capital']})
capital_df['Cloudiness'] = ''
capital_df['Country'] = ''
capital_df['Date'] = ''
capital_df['Humidity'] = ''
capital_df['Lat'] = ''
capital_df['Lng'] = ''
capital_df['Max Speed'] = ''
capital_df['Wind Speed'] = ''
capital_df['Temp (F)'] = ''
row_count = 1
capital_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Speed,Wind Speed,Temp (F)
0,Montgomery,,,,,,,,,
1,Juneau,,,,,,,,,
2,Phoenix,,,,,,,,,
3,Little Rock,,,,,,,,,
4,Sacramento,,,,,,,,,

In [10]:
print('Executing Data Retrieval')
for index, row in capital_df.iterrows():
    city = row['City']
    response = requests.get(query_url + city).json()
    
    if response["cod"] == "404":
        print('City is no bueno... skipping city...')
        capital_df.loc[index, 'Country'] = 'Drop'
    else: 

        print(f' Processing Record {row_count} for {city}')

        capital_df.loc[index, 'Cloudiness'] = float(response['clouds']['all'])
        capital_df.loc[index, 'Country'] = (response['sys']['country'])
        capital_df.loc[index, 'Date'] = response['dt']
        capital_df.loc[index, 'Humidity'] = float(response['main']['humidity'])
        capital_df.loc[index, 'Lat'] = float(response['coord']['lat'])
        capital_df.loc[index, 'Lng'] = float(response['coord']['lon'])
        capital_df.loc[index, 'Max Speed'] = float(response['main']['temp_max'])
        capital_df.loc[index, 'Wind Speed'] = float(response['wind']['speed'])
        capital_df.loc[index, 'Temp (F)'] = float(response["main"]["temp"])
        row_count = row_count + 1
#        weather_df[weather_df.name != city]
#        row_count = row_count + 1

Executing Data Retrieval
 Processing Record 1 for Montgomery
 Processing Record 2 for Juneau
 Processing Record 3 for Phoenix
 Processing Record 4 for Little Rock
 Processing Record 5 for Sacramento
 Processing Record 6 for Denver
 Processing Record 7 for Hartford
 Processing Record 8 for Dover
 Processing Record 9 for Tallahassee
 Processing Record 10 for Atlanta
 Processing Record 11 for Honolulu
 Processing Record 12 for Boise
 Processing Record 13 for Springfield
 Processing Record 14 for Indianapolis
 Processing Record 15 for Des Moines
 Processing Record 16 for Topeka
 Processing Record 17 for Frankfort
 Processing Record 18 for Baton Rouge
 Processing Record 19 for Augusta
 Processing Record 20 for Annapolis
 Processing Record 21 for Boston
 Processing Record 22 for Lansing
 Processing Record 23 for Saint Paul
 Processing Record 24 for Jackson
 Processing Record 25 for Jefferson City
 Processing Record 26 for Helena
 Processing Record 27 for Lincoln
 Processing Record 28 for Carson City
 Processing Record 29 for Concord
 Processing Record 30 for Trenton
 Processing Record 31 for Santa Fe
 Processing Record 32 for Albany
 Processing Record 33 for Raleigh
 Processing Record 34 for Bismarck
 Processing Record 35 for Columbus
 Processing Record 36 for Oklahoma City
 Processing Record 37 for Salem
 Processing Record 38 for Harrisburg
 Processing Record 39 for Providence
 Processing Record 40 for Columbia
 Processing Record 41 for Pierre
 Processing Record 42 for Nashville
 Processing Record 43 for Austin
 Processing Record 44 for Salt Lake City
 Processing Record 45 for Montpelier
 Processing Record 46 for Richmond
 Processing Record 47 for Olympia
 Processing Record 48 for Charleston
 Processing Record 49 for Madison
 Processing Record 50 for Cheyenne

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [11]:
#capital_df =  capital_df[capital_df.Country != 'Drop']

In [12]:
capital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
City          50 non-null object
Cloudiness    50 non-null object
Country       50 non-null object
Date          50 non-null object
Humidity      50 non-null object
Lat           50 non-null object
Lng           50 non-null object
Max Speed     50 non-null object
Wind Speed    50 non-null object
Temp (F)      50 non-null object
dtypes: object(10)
memory usage: 4.0+ KB

In [13]:
capital_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Speed,Wind Speed,Temp (F)
0,Montgomery,1,US,1561768398,74,32.37,-86.3,89.01,1.45,81.97
1,Juneau,40,US,1561768583,23,58.3,-134.42,84.2,8.05,83.19
2,Phoenix,40,US,1561768504,6,33.45,-112.08,111,13.87,107.64
3,Little Rock,1,US,1561768504,78,34.75,-92.29,86,4.7,81.5
4,Sacramento,1,US,1561768580,17,38.58,-121.49,89.01,11.41,83.14
5,Denver,40,US,1561768116,16,39.74,-104.98,93.2,12.75,89.38
6,Hartford,1,US,1561768628,44,41.76,-72.69,84.2,3.36,76.75
7,Dover,1,US,1561768681,66,39.16,-75.52,84.2,4.32,79.74
8,Tallahassee,1,US,1561768629,74,30.44,-84.28,84.99,4.7,83.44
9,Atlanta,75,US,1561768628,48,33.75,-84.39,86,9.17,81.97
10,Honolulu,75,US,1561768680,78,21.3,-157.86,82,11.41,79.75
11,Boise,1,US,1561768562,40,43.62,-116.2,75.2,8.05,71.73
12,Springfield,75,US,1561768402,66,37.22,-93.29,87.01,10.29,83.93
13,Indianapolis,1,US,1561768540,54,39.77,-86.16,87.01,5.82,84.67
14,Des Moines,75,US,1561768596,70,41.59,-93.6,86,6.93,83.66
15,Topeka,1,US,1561768428,55,39.05,-95.68,93,14.99,89.85
16,Frankfort,40,US,1561768503,54,38.2,-84.87,89.6,4.7,85.91
17,Baton Rouge,1,US,1561768442,83,30.45,-91.15,75.2,3.36,72.99
18,Augusta,1,US,1561768692,64,44.31,-69.78,75,5.82,68.72
19,Annapolis,1,US,1561768693,69,38.98,-76.49,84,15.41,78.19
20,Boston,75,US,1561768601,61,42.36,-71.06,82.99,9.17,77.52
21,Lansing,90,US,1561768657,61,42.73,-84.56,84.2,4.7,81.46
22,Saint Paul,1,US,1561768694,54,44.95,-93.1,84,5.82,81.18
23,Jackson,1,US,1561768561,26,43.48,-110.76,81,9.17,79.48
24,Jefferson City,20,US,1561768503,65,38.58,-92.17,86,8.05,81.41
25,Helena,90,US,1561768578,32,46.59,-112.04,68,12.75,61.74
26,Lincoln,19,GB,1561768410,100,53.23,-0.54,57.2,10.29,54.66
27,Carson City,1,US,1561768503,19,39.16,-119.77,72,16.28,65.14
28,Concord,1,US,1561768695,61,43.21,-71.54,79,1.66,74.84
29,Trenton,40,US,1561768479,94,40.22,-74.74,82.4,6.93,76.86
30,Santa Fe,99,AR,1561768449,88,-31.62,-60.7,61,3,61
31,Albany,75,US,1561768473,54,42.65,-73.75,81,5.82,75.92
32,Raleigh,1,US,1561768558,78,35.78,-78.64,84.99,3.83,78.44
33,Bismarck,1,US,1561768697,74,46.81,-100.78,84.2,10.29,81.81
34,Columbus,1,US,1561768523,74,32.46,-84.99,89.6,5.77,86.47
35,Oklahoma City,1,US,1561768567,0,35.47,-97.52,93,10.29,90.52
36,Salem,1,US,1561768684,35,44.94,-123.03,75,6.93,71.04
37,Harrisburg,75,US,1561768508,66,40.27,-76.89,84.2,10.29,79.99
38,Providence,1,US,1561768698,65,41.82,-71.41,82.4,3.04,76.15
39,Columbia,1,US,1561768698,62,34,-81.03,87.8,4.27,83.71
40,Pierre,40,US,1561768699,66,44.37,-100.35,89.01,11.41,88.25
41,Nashville,20,US,1561768558,66,36.16,-86.77,87.8,4.7,83.37
42,Austin,1,US,1561768083,52,30.27,-97.74,91.4,9.17,89.11
43,Salt Lake City,1,US,1561768665,15,40.77,-111.89,95,21.92,87.35
44,Montpelier,1,US,1561768691,69,44.26,-72.58,78.8,3.36,72.86
45,Richmond,90,CA,1561768700,63,49.16,-123.14,68,9.17,64.54
46,Olympia,75,US,1561768700,43,47.05,-122.89,73.4,6.93,70.23
47,Charleston,1,US,1561768578,74,32.79,-79.94,82.4,6.93,81.41
48,Madison,75,US,1561768417,65,43.07,-89.38,82.99,5.82,80.02
49,Cheyenne,1,US,1561768701,21,41.14,-104.82,93.99,8.05,85.03

In [14]:
capital_df.to_csv("output_data/Capital_Weather.csv")

# SQL Connection

In [20]:
connection = "root:Bibiana14!@localhost:3306"
engine = create_engine(f'mysql://{connection}')
engine.execute('CREATE DATABASE ETL_db')
engine.execute('USE ETL_db')

ProgrammingError: (MySQLdb._exceptions.ProgrammingError) (1007, "Can't create database 'etl_db'; database exists") [SQL: 'CREATE DATABASE ETL_db'] (Background on this error at: http://sqlalche.me/e/f405)

In [95]:
capital_df.to_sql('us_capitals', con=engine, if_exists='append')

In [15]:
capital_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Speed,Wind Speed,Temp (F)
0,Montgomery,1,US,1561768398,74,32.37,-86.3,89.01,1.45,81.97
1,Juneau,40,US,1561768583,23,58.3,-134.42,84.2,8.05,83.19
2,Phoenix,40,US,1561768504,6,33.45,-112.08,111,13.87,107.64
3,Little Rock,1,US,1561768504,78,34.75,-92.29,86,4.7,81.5
4,Sacramento,1,US,1561768580,17,38.58,-121.49,89.01,11.41,83.14
5,Denver,40,US,1561768116,16,39.74,-104.98,93.2,12.75,89.38
6,Hartford,1,US,1561768628,44,41.76,-72.69,84.2,3.36,76.75
7,Dover,1,US,1561768681,66,39.16,-75.52,84.2,4.32,79.74
8,Tallahassee,1,US,1561768629,74,30.44,-84.28,84.99,4.7,83.44
9,Atlanta,75,US,1561768628,48,33.75,-84.39,86,9.17,81.97
10,Honolulu,75,US,1561768680,78,21.3,-157.86,82,11.41,79.75
11,Boise,1,US,1561768562,40,43.62,-116.2,75.2,8.05,71.73
12,Springfield,75,US,1561768402,66,37.22,-93.29,87.01,10.29,83.93
13,Indianapolis,1,US,1561768540,54,39.77,-86.16,87.01,5.82,84.67
14,Des Moines,75,US,1561768596,70,41.59,-93.6,86,6.93,83.66
15,Topeka,1,US,1561768428,55,39.05,-95.68,93,14.99,89.85
16,Frankfort,40,US,1561768503,54,38.2,-84.87,89.6,4.7,85.91
17,Baton Rouge,1,US,1561768442,83,30.45,-91.15,75.2,3.36,72.99
18,Augusta,1,US,1561768692,64,44.31,-69.78,75,5.82,68.72
19,Annapolis,1,US,1561768693,69,38.98,-76.49,84,15.41,78.19
20,Boston,75,US,1561768601,61,42.36,-71.06,82.99,9.17,77.52
21,Lansing,90,US,1561768657,61,42.73,-84.56,84.2,4.7,81.46
22,Saint Paul,1,US,1561768694,54,44.95,-93.1,84,5.82,81.18
23,Jackson,1,US,1561768561,26,43.48,-110.76,81,9.17,79.48
24,Jefferson City,20,US,1561768503,65,38.58,-92.17,86,8.05,81.41
25,Helena,90,US,1561768578,32,46.59,-112.04,68,12.75,61.74
26,Lincoln,19,GB,1561768410,100,53.23,-0.54,57.2,10.29,54.66
27,Carson City,1,US,1561768503,19,39.16,-119.77,72,16.28,65.14
28,Concord,1,US,1561768695,61,43.21,-71.54,79,1.66,74.84
29,Trenton,40,US,1561768479,94,40.22,-74.74,82.4,6.93,76.86
30,Santa Fe,99,AR,1561768449,88,-31.62,-60.7,61,3,61
31,Albany,75,US,1561768473,54,42.65,-73.75,81,5.82,75.92
32,Raleigh,1,US,1561768558,78,35.78,-78.64,84.99,3.83,78.44
33,Bismarck,1,US,1561768697,74,46.81,-100.78,84.2,10.29,81.81
34,Columbus,1,US,1561768523,74,32.46,-84.99,89.6,5.77,86.47
35,Oklahoma City,1,US,1561768567,0,35.47,-97.52,93,10.29,90.52
36,Salem,1,US,1561768684,35,44.94,-123.03,75,6.93,71.04
37,Harrisburg,75,US,1561768508,66,40.27,-76.89,84.2,10.29,79.99
38,Providence,1,US,1561768698,65,41.82,-71.41,82.4,3.04,76.15
39,Columbia,1,US,1561768698,62,34,-81.03,87.8,4.27,83.71
40,Pierre,40,US,1561768699,66,44.37,-100.35,89.01,11.41,88.25
41,Nashville,20,US,1561768558,66,36.16,-86.77,87.8,4.7,83.37
42,Austin,1,US,1561768083,52,30.27,-97.74,91.4,9.17,89.11
43,Salt Lake City,1,US,1561768665,15,40.77,-111.89,95,21.92,87.35
44,Montpelier,1,US,1561768691,69,44.26,-72.58,78.8,3.36,72.86
45,Richmond,90,CA,1561768700,63,49.16,-123.14,68,9.17,64.54
46,Olympia,75,US,1561768700,43,47.05,-122.89,73.4,6.93,70.23
47,Charleston,1,US,1561768578,74,32.79,-79.94,82.4,6.93,81.41
48,Madison,75,US,1561768417,65,43.07,-89.38,82.99,5.82,80.02
49,Cheyenne,1,US,1561768701,21,41.14,-104.82,93.99,8.05,85.03

In [33]:

data = capital_df
sql_data = 'data\capital.sqlite' #- Creates DB names SQLite
conn = sq.connect(sql_data)
cur = conn.cursor()


cur.execute('''DROP TABLE IF EXISTS SA''')
data.to_sql('Capitals', conn, if_exists='replace', index=False) # - writes the pd.df to SQLIte DB

In [34]:
pd.read_sql('select * from Capitals', conn)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Speed,Wind Speed,Temp (F)
0,Montgomery,1.0,US,1561768398,74.0,32.37,-86.30,89.01,1.45,81.97
1,Juneau,40.0,US,1561768583,23.0,58.30,-134.42,84.20,8.05,83.19
2,Phoenix,40.0,US,1561768504,6.0,33.45,-112.08,111.00,13.87,107.64
3,Little Rock,1.0,US,1561768504,78.0,34.75,-92.29,86.00,4.70,81.50
4,Sacramento,1.0,US,1561768580,17.0,38.58,-121.49,89.01,11.41,83.14
5,Denver,40.0,US,1561768116,16.0,39.74,-104.98,93.20,12.75,89.38
6,Hartford,1.0,US,1561768628,44.0,41.76,-72.69,84.20,3.36,76.75
7,Dover,1.0,US,1561768681,66.0,39.16,-75.52,84.20,4.32,79.74
8,Tallahassee,1.0,US,1561768629,74.0,30.44,-84.28,84.99,4.70,83.44
9,Atlanta,75.0,US,1561768628,48.0,33.75,-84.39,86.00,9.17,81.97
10,Honolulu,75.0,US,1561768680,78.0,21.30,-157.86,82.00,11.41,79.75
11,Boise,1.0,US,1561768562,40.0,43.62,-116.20,75.20,8.05,71.73
12,Springfield,75.0,US,1561768402,66.0,37.22,-93.29,87.01,10.29,83.93
13,Indianapolis,1.0,US,1561768540,54.0,39.77,-86.16,87.01,5.82,84.67
14,Des Moines,75.0,US,1561768596,70.0,41.59,-93.60,86.00,6.93,83.66
15,Topeka,1.0,US,1561768428,55.0,39.05,-95.68,93.00,14.99,89.85
16,Frankfort,40.0,US,1561768503,54.0,38.20,-84.87,89.60,4.70,85.91
17,Baton Rouge,1.0,US,1561768442,83.0,30.45,-91.15,75.20,3.36,72.99
18,Augusta,1.0,US,1561768692,64.0,44.31,-69.78,75.00,5.82,68.72
19,Annapolis,1.0,US,1561768693,69.0,38.98,-76.49,84.00,15.41,78.19
20,Boston,75.0,US,1561768601,61.0,42.36,-71.06,82.99,9.17,77.52
21,Lansing,90.0,US,1561768657,61.0,42.73,-84.56,84.20,4.70,81.46
22,Saint Paul,1.0,US,1561768694,54.0,44.95,-93.10,84.00,5.82,81.18
23,Jackson,1.0,US,1561768561,26.0,43.48,-110.76,81.00,9.17,79.48
24,Jefferson City,20.0,US,1561768503,65.0,38.58,-92.17,86.00,8.05,81.41
25,Helena,90.0,US,1561768578,32.0,46.59,-112.04,68.00,12.75,61.74
26,Lincoln,19.0,GB,1561768410,100.0,53.23,-0.54,57.20,10.29,54.66
27,Carson City,1.0,US,1561768503,19.0,39.16,-119.77,72.00,16.28,65.14
28,Concord,1.0,US,1561768695,61.0,43.21,-71.54,79.00,1.66,74.84
29,Trenton,40.0,US,1561768479,94.0,40.22,-74.74,82.40,6.93,76.86
30,Santa Fe,99.0,AR,1561768449,88.0,-31.62,-60.70,61.00,3.00,61.00
31,Albany,75.0,US,1561768473,54.0,42.65,-73.75,81.00,5.82,75.92
32,Raleigh,1.0,US,1561768558,78.0,35.78,-78.64,84.99,3.83,78.44
33,Bismarck,1.0,US,1561768697,74.0,46.81,-100.78,84.20,10.29,81.81
34,Columbus,1.0,US,1561768523,74.0,32.46,-84.99,89.60,5.77,86.47
35,Oklahoma City,1.0,US,1561768567,0.0,35.47,-97.52,93.00,10.29,90.52
36,Salem,1.0,US,1561768684,35.0,44.94,-123.03,75.00,6.93,71.04
37,Harrisburg,75.0,US,1561768508,66.0,40.27,-76.89,84.20,10.29,79.99
38,Providence,1.0,US,1561768698,65.0,41.82,-71.41,82.40,3.04,76.15
39,Columbia,1.0,US,1561768698,62.0,34.00,-81.03,87.80,4.27,83.71
40,Pierre,40.0,US,1561768699,66.0,44.37,-100.35,89.01,11.41,88.25
41,Nashville,20.0,US,1561768558,66.0,36.16,-86.77,87.80,4.70,83.37
42,Austin,1.0,US,1561768083,52.0,30.27,-97.74,91.40,9.17,89.11
43,Salt Lake City,1.0,US,1561768665,15.0,40.77,-111.89,95.00,21.92,87.35
44,Montpelier,1.0,US,1561768691,69.0,44.26,-72.58,78.80,3.36,72.86
45,Richmond,90.0,CA,1561768700,63.0,49.16,-123.14,68.00,9.17,64.54
46,Olympia,75.0,US,1561768700,43.0,47.05,-122.89,73.40,6.93,70.23
47,Charleston,1.0,US,1561768578,74.0,32.79,-79.94,82.40,6.93,81.41
48,Madison,75.0,US,1561768417,65.0,43.07,-89.38,82.99,5.82,80.02
49,Cheyenne,1.0,US,1561768701,21.0,41.14,-104.82,93.99,8.05,85.03

In [35]:
conn.commit()
conn.close()